body{
  background-color: #FDFDFD;
}
.header{
  height: 100 px;
  border-color: cornflowerblue;
  background-color: #FDFDFD;
}

.sentenca-box {
  overflow-y: auto; 
  height:300px;
  border-style: outset;
  padding-left: 2%;
  padding-right: 2%;
}

strong{
  color: #2B0B5B;
}

.info{
  margin-top: 1%;
}

.sentenca-error {
  position: absolute;
  top: 45%;
  left: 35%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px; 
}

.container {
  margin-top: 0.2%; 
}

.row-container {
  margin-top: 1%; 
}

.row-height{
  height: 35px;
}

.center {
  position: absolute;
  width: 450px;
  height: 100px;
  top: 35%;
  left: 35%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px; 
}​