{% extends 'search/base.html' %}
{% load form_tags widget_tweaks %}
{% block content %}
<div class="container rounded">
    {% if error %}
    <div class="info center row sentenca-container justify-content-center">
        <div class="alert alert-danger justify-content-center" role="alert">
            Código do Processo inválido ou não encontrado
        </div>
    </div>
    {%else%}
    <div class="info">
        <div class="row row-container row-height">
            <div class="col-md-2 col-xs-2">
                <strong>Processo Buscado:</strong>
                <div class="justify-content-center">
                   <p class="badge badge-light"> {{ cod }}</p>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-4 col-xs-10">
                <div class="row">
                    <div class="col-md-3 card-text">
                        <a href="#" target="_blank" class="btn btn-link">Inicial</a>
                    </div>
                    <div class="col-md-4 card-text">
                        <a href="{{process_contestacao_url}}" target="_blank" class="btn btn-link">Contestação</a>
                    </div>
                    <div class="col-md-5 card-text">
                        <a href="{{process_movimento_url}}" target="_blank" class="btn btn-link">Movimentos</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row row-container row-height">
            <div class="col-md-3 card-text">
                <strong>Processo Similar <small>(Código Antigo)</small>:</strong>
                <div class="card-text justify-content-center badge badge-secondary">
                    {{ similar }}
                </div>
            </div>
            <div class="col-md-2 ">
                <strong>Similaridade</small>: </strong>
                <div class="card-text justify-content-center">
                    <span class="badge badge-success">{{ similaridade | percentage}}</span>
                </div>
            </div>
            <div class="col-md-3 ">
                <strong>Processo Similar <small>(Código Atual)</small>: </strong>
                <div class="card-text justify-content-center badge badge-secondary">{{ similar_atual }}</div>
            </div>
            <div class="col-md-4 d-inline-block">
                <div class="row">
                    <div class="col-md-3 card-text"><a href="#" target="_blank" class="btn btn-link">Inicial</a></div>
                    <div class="col-md-4 card-text"><a href="{{similar_contestacao_url}}" target="_blank" class="btn btn-link">Contestação</a></div>
                    <div class="col-md-5 card-text"><a href="{{similar_movimento_url}}" target="_blank" class="btn btn-link">Movimentos</a></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row row-container row-height">
            <div class="col-md-7 card-text">
                <strong>Autor:</strong>
                <div class="card-text justify-content-center text-dark">{{author}}</div>
            </div>
            <div class="col-md-5 card-text">
                <strong>Réu:</strong>
                <div class="card-text justify-content-center text-dark">{{reu}}</div>
            </div>
        </div>
        <hr>
        <div class="row row-container row-height">
            <div class="col-md-7 card-text">
                <strong>Comarca:</strong>
                <div class="card-text justify-content-center text-dark">{{ comarca }}</div>
            </div>
            <div class="col-md-5 card-text">
                <strong>Serventia:</strong>
                <div class="card-text justify-content-center text-dark">{{ serventia }}</div>
            </div>
        </div>
        <hr>
        <div class="row row-container">
            <div class="col-md-8 card-text">
                <strong>Sentença:</strong>
                <div class="card sentenca-box text-dark">
                    {{ sentence | linebreaks }}
                </div>
            </div>
            <div class="col-md-4 card-text">
                <strong>Número de Processos Similares: <em>{{ similar_processes|length }}</em></strong>
                <div class="card text-justify similares-box">
                    <div class="list-group list-group-flush">
                        {% for sp in similar_processes %}
                                <a href="{{sp.1.1}}" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% ifequal sp.1.0 similar %}list-group-item-primary {% endifequal %} ">
                                {{sp.1.0}}<span class="badge">{{sp.1.2 | percentage}}</span>
                                </a>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-container">
        <ul class="col pagination clearfix justify-content-center">
        {%if has_previous%}
            <li class="page-item">
        {%else%}
            <li class="page-item disabled">
        {%endif%}
                <a class="page-link" href="{% url 'processo' cod previousindex %}"> &larr; Anterior</a>
            </li>
            
            <li class="page-item disabled"><span class="page-link">{{ index|add:1 }} / {{ pages|add:1 }}</span></li>

        {%if has_next%}
            <li class="page-item">
        {%else%}
            <li class="page-item disabled">
        {%endif%}
                <a class="page-link" href="{% url 'processo' cod nextindex %}">Próximo &rarr;</a>
            </li>
        </ul>
            
    </div>
    {%endif%}
    <div class="row justify-content-center">
        <a href="{% url 'index' %}">Nova consulta</a>
    </div>
</div>
    
{%endblock%}
{% include 'includes/pagination.html' %}