{% extends 'search/base.html' %}
{% block content %}
<div class="container">
    {% if error %}
    <div class="row sentenca-container justify-content-center">
        <div class="alert alert-danger justify-content-center" role="alert">
            Código do Processo inválido ou não encontrado
        </div>
    </div>
    {%else%}
        <div class="row row-container row-height">
            <div class="col-sm-3">
                <strong>Processo Buscado:</strong>
                <div class="card-text justify-content-center">{{ cod }}</div>
            </div>
            <div class="col-sm-5">
                <strong>Processo Similar <small>(Código Antigo)</small>:</strong>
                <div class="card-text justify-content-center">{{ similar }}</div>
            </div>
            <div class="col-sm-4">
                <strong>Processo Similar <small>(Código Atual)</small>: </strong>
                <div class="card-text justify-content-center">{{ similar_atual }}</div>
            </div>
        </div>
        <div class="row row-container row-height">
            <div class="col-sm-7">
                <strong>Autor:</strong>
                <div class="card-text justify-content-center">{{author}}</div>
            </div>
            <div class="col-sm-5">
                <strong>Réu:</strong>
                <div class="card-text justify-content-center">{{reu}}</div>
            </div>
        </div>
        <div class="row row-container row-height">
            <div class="col-sm-7">
                <strong>Comarca:</strong>
                <div class="card-text justify-content-center">{{ comarca }}</div>
            </div>
            <div class="col-sm-5">
                <strong>Serventia:</strong>
                <div class="card-text justify-content-center">{{ serventia }}</div>
            </div>
            
        </div>
        <div class="row row-container">
            <div class="col-sm-8">
                <strong>Sentença:</strong>
                <div class="card sentenca-box">
                    <p >
                    {{ sentence | linebreaks }}
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <strong>Número de Processos Similares: <em>{{ similar_processes|length }}</em></strong>
                <div class="card sentenca-box text-justify">
                    {% for sp in similar_processes %}
                        <a href="{{sp.1.1}}" target="_blank">
                            {% ifequal sp.1.0 similar %}<strong>{% endifequal %}
                            {{sp.1.0}}
                            {% ifequal sp.1.0 similar %}</strong>{% endifequal %}
                        </a></br>
                    {% endfor%}
                </div>
            </div>
        </div>
        <div class="row row-container row-height">
            <div class="col-sm-1">
                <strong>Contestação:</strong>
            </div>
            <div class="col-sm-11">
                <div class="card text-justify"> <a href="{{url}}" target="_blank"> {{ url }} </a> </div>
            </div>
        </div>


        <div class="row row-container">
            <ul class="col pagination clearfix justify-content-center">
            {%if has_previous%}
                <li class="page-item">
            {%else%}
                <li class="page-item disabled">
            {%endif%}
                    <a class="page-link" href="{% url 'processo' cod previousindex %}">Anterior</a>
                </li>
                
                <li class="page-item disabled"><span class="page-link">{{ index }} / {{ pages }}</span></li>

            {%if has_next%}
                <li class="page-item">
            {%else%}
                <li class="page-item disabled">
            {%endif%}
                    <a class="page-link" href="{% url 'processo' cod nextindex %}">Próximo</a>
                </li>
            </ul>
             
        </div>
    {%endif%}
    <div class="row row-container justify-content-center">
        <a href="{% url 'index' %}">Nova consulta</a>
    </div>
    
    
{%endblock%}
{% include 'includes/pagination.html' %}